@using Newtonsoft.Json
@model List<MarksSite.Models.UserViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список сотрудников</h2>

<div>
    <a class="btn btn-primary" data-bind="css: {disabled: selectedUsers().length != 1}, attr: {href: markingUrl}">Оценить</a>
    <a class="btn btn-primary" data-bind="css: {disabled: !selectedUsers().length}, click: sendRequest">Отправить запрос</a>
</div>

<div>
    <ul class="list-group" data-bind="foreach: users">
        <li class="list-group-item">
            <label>
                <input type="checkbox" data-bind="checked: selected" />
                <span data-bind="text: name"></span>
            </label>
        </li>
    </ul>
</div>

@section scripts
{
    @JavaScript.AddCustom("ViewModels/user-list.page.js")
    <script type="text/javascript">
         @{
             IHtmlString usersList = Html.Raw(JsonConvert.SerializeObject(Model));
         }
        MarksSite.viewmodels.userListPage.bindUserList(@Html.Raw(usersList));
    </script>
}
