@using MarksSite.Models
@using Newtonsoft.Json

@model UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 data-bind="text: name"></h2>
<div>
    <div>
        <a href="@Url.Action("List","Mark",new {userId=Model.Id})" class="btn btn-primary">Мои оценки</a>
        <a href="@Url.Action("List","User",new {userId=Model.Id})" class="btn btn-primary" data-bind="visible: !isManager">Оценить</a>
    </div>
    <div class="requests" data-bind="visible: isManager">
        <h3>Запросы</h3>
        <ul data-bind="foreach: requests">
            <li>
                <div>
                    Дата: <span data-bind="text: date"></span>
                </div>
                <div>
                    Автор: <span data-bind="text: author"></span>
                </div>
                <div>
                    Кого оценить: <span data-bind="text: employee"></span>
                </div>

            </li>
        </ul>
    </div>

</div>

@section scripts
{
    @JavaScript.AddCustom("ViewModels/default.page.js")

    <script type="text/javascript">
        @{
            IHtmlString user = Html.Raw(JsonConvert.SerializeObject(Model));
        }
        MarksSite.viewmodels.defaultPage.bindUser(@Html.Raw(user));
    </script>
}
