@using System
@using Newtonsoft.Json
@model MarksSite.Models.MarkEditModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Оценка сотрудника <span data-bind="text: to"></span></h2>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Критерии</th>
            <th>Оценки</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Продуктивность</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Productivity.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td>
                <input type="text" data-bind="value: markDetails.Productivity.Comment"/>
            </td>
        </tr>
        <tr>
            <td>Качество работы</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Quality.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td >
                <input type="text" data-bind="value: markDetails.Quality.Comment"/>
            </td>
        </tr>
        <tr>
            <td>Дисциплина</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Discipline.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td>
                <input type="text" data-bind="value: markDetails.Discipline.Comment"/>
            </td>
        </tr>
        <tr>
            <td>Сотрудничество</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Cooperation.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td>
                <input type="text" data-bind="value: markDetails.Cooperation.Comment"/>
            </td>
        </tr>
        <tr>
            <td>Профессиональные знания и навыки</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Skills.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td>
                <input type="text" data-bind="value: markDetails.Skills.Comment"/>
            </td>
        </tr>
        <tr>
            <td>Инициативность</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Initiative.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td>
                <input type="text" data-bind="value: markDetails.Initiative.Comment"/>
            </td>
        </tr>
        <tr>
            <td>Развитие</td>
            <td>
                <select data-bind="options: markType, optionsText: 'value', optionsValue: 'id', value: markDetails.Growth.Value, optionsCaption: 'Выберите...'"></select>
            </td>
            <td>
                <input type="text" data-bind="value: markDetails.Growth.Comment"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-primary" type="button" data-bind="click: saveMark, enable: isValid, css: {disabled: !isValid()}">Сохранить</button>

@section scripts
{
    @JavaScript.AddCustom("ViewModels/mark-add-new.page.js")
    <script type="text/javascript">
        @{
            IHtmlString markList = Html.Raw(JsonConvert.SerializeObject(Model));
        }
        MarksSite.viewmodels.markNewPage.bindMarkList(@Html.Raw(markList));
    </script>
}
