@using MarksSite.Models
@using Newtonsoft.Json
@model MarksSite.Models.MarkViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
@section scripts
{
    @JavaScript.AddCustom("ViewModels/mark.page.js")
    <script type="text/javascript">
        @{
             IHtmlString mark = Html.Raw(JsonConvert.SerializeObject(Model));
         }
        MarksSite.viewmodels.markPage.bindMark(@Html.Raw(mark));
    </script>
}
